# Mac OS
.DS_Store

# IDE - Emacs
*~
\#*\#
*.dir-locals.el

# custom packages
custom/packages/icloud-utilities
custom/packages/prog-setup
custom/packages/sticky-shell
custom/packages/webkit-mac-enhance
custom/web_history.csv
custom/emacs-lsp-booster

# caches
var
etc
eln-cache

# packages
elpa

# ts
tree-sitter