# Mac OS
.DS_Store

# IDE - Emacs
*~
\#*\#
*.dir-locals.el

# custom packages
custom/web_history.csv
custom/emacs-lsp-booster
custom/packages/*
!custom/packages/all-the-haikus

# caches
var
etc
eln-cache

# packages
elpa

# ts
tree-sitter